<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>Modificar Clientes</title>
</head>

<body>

  <!-- 
    Campos: 
        nombre (V100), 
        email (V100), 
        telefono (V50), 
        activo (Tynyint 1) 
-->

  <div class="container rounded-75 p-4 mt-4" style="background-color: #ccc;">
    <h1 class="bg-success text-white rounded-pill text-center mt-4 p-4">Añadir Clientes</h1>
    <div class="row m-auto w-50 mt-4 h5 text-primary">
      <form action="/clientes/altaCliente" method="POST">
        <div class="row mb-3">
          <div class="form-group">
            <label for="nombre">Nombre completo:</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono">
          </div>
        </div>
        <div class="row mb-3 p-4">
          <div class="form-group bg-info p-4">
            <span><small class="text-primary bg-white">Pulse la
                llave para cambiar el estado - Estado original: ACTIVO</small></span>
            <div class="form-check form-switch mt-2">
              <input class="form-check-input" type="checkbox" role="switch" id="activo" name="activo" value="1" checked>
              <label class="form-check-label text-dark" for="activo">Cliente Activo ó Inactivo</label>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mt-4 text-center">
          <div class="col-6">
            <button type="submit" class="btn btn-primary">
              <h5>Guardar</h5>
            </button>
          </div>
          <div class="col-6">
            <a href="/clientes" class="btn btn-warning">
              <h5>Cancelar nuevo cliente</h5>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>