<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PhoneUp:::Administración</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <img src="{{ url_for('static', filename='img/nombre-de-la-empresa.jpg') }}" alt="Logo de la empresa PhoneUp"
          width="200">
      </div>
      <h1 class="mt-4 p-4 text-center bg-primary text-white">::: Administración :::</h1>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="w-100 mt-1 mb-1">&nbsp;</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="w-100 mt-1 mb-2">&nbsp;</div>
          </div>
          <div class="col-6 text-center">
            <a href="/clientes">
            <div class="btn btn-success">
              <h2>Módulo Clientes</h2>
            </div>
          </a>
          </div>
          <div class="col-6 text-center">
            <a href="/productos">
              <div class="btn btn-warning">
                <h2>Módulo Productos</h2>
              </div>
            </a>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <div class="w-100 mt-4 mb-4">&nbsp;</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center text-primary">
            <h3>Haga click en la opción que desea administrar.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>